@import "tailwindcss";

@font-face {
  font-family: hero;
  src: url('/LINESeedSans_W_Rg.fbf60f45.ttf');
}
@font-face {
  font-family: hero1;
  src: url('/Ogg-Regular.fd4ce7b4.ttf');
}



.otp:hover{
  background: #000;
}
.otp:active{
  scale: 0.95;
  transition: all 0.2s;
}